
<body>
	
	<div class="limiter">
		<div class="login-background">
			<div class="wrap-login100">
				<form class="login100-form validate-form" method="post" action="/login">
					<span class="login100-form-title p-b-26">
						<img src="/assets/profil.png" width="60" height="60" alt="">
					</span>
					<h2 class="login100-form-title p-b-48">Anmelden</h2>
					

					<p class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
						<label for="username" class="sr-only"></label>
						<input type="text" id="username" name="username" class="input100" required autofocus>
						<span class="focus-input100" data-placeholder="Username"></span>
					</p>

					<p class="wrap-input100 validate-input" data-validate="Enter password">
						<label for="password" class="sr-only"></label>
						<input type="password" id="password" name="password" class="input100" required>
						<span class="focus-input100" data-placeholder="Password"></span>
					</p>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>					
							<button class="login100-form-btn" type="submit">Sign in</button>
						</div>
					</div>					
				</form>
			</div>
		</div>
	</div>

	<div id="dropDownSelect1"></div>
	
	<script src="assets/login/vendor/jquery/jquery-3.2.1.min.js"></script>
	<script src="assets/login/vendor/animsition/js/animsition.min.js"></script>
	<script src="assets/login/vendor/bootstrap/js/popper.js"></script>
	<script src="assets/login/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/login/vendor/select2/select2.min.js"></script>
	<script src="assets/login/vendor/daterangepicker/moment.min.js"></script>
	<script src="assets/login/vendor/daterangepicker/daterangepicker.js"></script>
	<script src="assets/login/vendor/countdowntime/countdowntime.js"></script>
	
	<script src="assets/login/js/main.js"></script>

</body>