<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="/"><img src="../../../favicon.png"
            width="30" height="30" alt="">Runebase</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"> </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav align-items-center ml-auto">
                <!-- schiebt navbar nach rechts-->
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Runes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../photos/photos.html">Settings </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact</a>
                </li>
            </ul>
        </div>
    </nav>

</body>